.side-nav {
  height: 90vh;
  width: 75px;

  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid gray;
  background-color: white;
  overflow: hidden;
  padding: 0 10px;
}

.side-nav__link-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-nav__list-item {
  padding: 1rem 2rem;
  width: inherit;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.side-nav__list-item div {
  font-size: 10px;
  margin-left: -12px;
}

.side-nav__list-item:hover {
  background-color: var(--yt-background-gray);
}

.side-nav__list-link {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.side-nav__icons {
  margin-right: 1rem;
}

.side-nav__list-link.active {
  background-color: rgb(219, 216, 216);

  color: black;
}

.side-nav__list-link.active li .side-nav__icons,
.side-nav__list-link.active li div {
  color: red;
}
