.sideNav {
  height: 90vh;
  width: 250px;

  background-color: blue;
  color: white;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

li {
  padding: 1rem;
}

.Link {
  color: white;
  text-decoration: none;
  padding: 2rem;
}

.body-container {
  display: flex;
}

.container {
  background-color: salmon;
  color: white;
  font-size: 2rem;
  height: 90vh;

  width: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}
